*{padding: 0;
   margin: 0;
   

}
html{
  margin: 0%;
  min-height: 100vh;
}

body{
    
    color: #1d1d1d;
    font: 14px Helvetica, sans-serif;
    font-weight: 400;
    line-height: 24px;
   min-height: 100vh;
}

.body-background{ 
    background-color: whitesmoke;
    background-image: url("../Images/body-background.jpg");
    background-size: cover;
    background-attachment: fixed;

    
}

h1{
    font-family: 'Lexend Peta', sans-serif;
    color: midnightblue;
    font-weight: 900;
    box-shadow: black;
}

h2{
  font-family: 'Lexend Peta', sans-serif;
    color: midnightblue;
    font-weight: 900;
    box-shadow: black;
    
}

.site-description{
    font: 14px helvetica, sans-serif;
    line-height: 20px;
    color: #999;
    font-weight: 200;
}

.body-color{
    background-color:whitesmoke;
    box-shadow: black;
    border-radius: 5px;
    min-height: 100vh;
    
}

.header-color{
    background-image: url("../Images/header-background.jpg");
    border: midnightblue solid 10px;
    box-shadow: black;
    background-size: cover;
    border-top: none;
    border-bottom: none;
}

.bg-nav{
    background-color: whitesmoke;
    border: midnightblue solid 10px;
    box-shadow: black;
    border-top:midnightblue inset 1px;
    border-bottom: midnightblue inset 1px;
    background-image: url("../Images/header-background.jpg");
    background-size: cover;
}
.btn-color{
    color: midnightblue;
border: 1px solid midnightblue;
}

.btn-color:hover{
    color:white;
border: 1px solid midnightblue;
background-color: midnightblue;
}

.facebook{
    color: gray;
    font-size: 60px;
}
.instagram {
    color:gray;
    font-size: 60px;
}

.linkedin{
    color:gray;
    font-size: 60px;
}

.twitter{
    color:gray;
    font-size: 60px;
}

.image-border{
    border: 0px 10px 0px 10px solid midnightblue;
}

.btn-border{
border-radius: 5px;
}

.site-footer
{
  background-color:whitesmoke;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:whitesmoke
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.header {
  color:midnightblue;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color:midnightblue;
}

.link-color{
  color:midnightblue;
  background-color: midnightblue;
}

.trans{
  transition: transform 1s;
}

.trans:hover{
 transform: scale(1.2)
}

p{
  text-align: justify;
}

hr{
  border-top-color: #bbb;
  opacity: 0.5;
}